## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
/.bundle/
/.yardoc
/_yardoc/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
